/*
 * root
 */

#shichinarabe-root {
	display: flex;
	justify-content: space-between;
}

/*
 * menu
 */

#shichinarabe-menu {
	width: 256px;
	color: white;
}

#shichinarabe-ranking td {
	width: 10%;
}

#shichinarabe-ranking img {
	width: 100%;
}

/*
 * game
 */

#shichinarabe-game {
	background-color: seagreen;
	position: relative;
	z-index: 0;
	overflow: hidden;
	border: 2px solid rgb(66, 18, 18);
	width: 1024px;
	padding: 4px;
}

#shichinarabe-game::before {
	position: absolute;
	z-index: -1;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 4px;
	border: 2px groove white;
	border-radius: 5px;
	opacity: 80%;
}

#shichinarabe-game::after {
	position: absolute;
	z-index: -1;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 12px;
	border: 3px groove white;
	border-radius: 5px;
	opacity: 80%;
}

/*
 * player
 */

.shichinarabe-player-icon-container {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgb(100, 92, 153);
	display: flex;
	align-items: center;
	overflow: hidden;
}

.shichinarabe-player-icon-container[data-highlight="false"] {
	opacity: 50%;
}

.shichinarabe-player-icon-container img {
	width: 100%;
}

/*
 * computer
 */

#shichinarabe-computers {
	display: flex;
	width: 100%;
}

.shichinarabe-computer {
	display: flex;
	min-width: 0;
	flex: 1;
}

.shichinarabe-computer-hands-container {
	display: flex;
	justify-content: right;
	align-items: center;
	min-width: 0;
	flex: 1;
}

.shichinarabe-computer-hands-container img {
	width: 32px;
	transform: translateX(calc(-16px * var(--index)));
	z-index: calc(32 - var(--index));
}

/*
 * human
 */

#shichinarabe-human {
	display: flex;
	justify-content: right;
	align-items: center;
	height: 74px;
}

#shichinarabe-human-pass-container {
	width: 64px;
}

#shichinarabe-human-pass-container img {
	width: 100%;
}

#shichinarabe-human-hands-container img {
	display: inline-block;
	width: 64px;
	transition: 0.2s transform ease;
	transform: translateY(16px);
}

#shichinarabe-human-hands-container img:hover[data-status="unselected"] {
	transform: translateY(0px);
}

#shichinarabe-human-hands-container img[data-status="selected"] {
	background-color: black;
	box-shadow: 0;
	border-radius: 1px;
	transform: translateY(0px);
}

#shichinarabe-human-hands-container img[data-status="disabled"] {
	opacity: 30%;
}

/*
 * cards
 */

#shichinarabe-cards {
	table-layout: fixed;
	width: 100%;
}

#shichinarabe-cards td[data-display="full"] {
	opacity: 100%;
}

#shichinarabe-cards td[data-display="translucent"] {
	opacity: 30%;
}

#shichinarabe-cards td[data-display="none"] {
	opacity: 0%;
}

#shichinarabe-cards td img {
	width: 100%;
}
